.about-banner {
    height: 4rem;
    background: green;
    margin-top: -1rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
}
.about-banner-btn {
    margin: 0 auto;
}
.about-desc {
	width: 80%;
	height: 4rem;
	margin: 0 auto;
	border: 1px solid red;
	position: relative;
	top: -1rem;
	z-index: 10;
}
.about-help-question-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.about-help-trends-content {
    width: 70%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.about-help-trends-date {
    float: left;
    text-align: right;
    width: 30%;
}