.custom-banner {
    height: 8.08rem;
    background: green;
    margin-top: -1rem;
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    background: url("../images/custom/customBanner.png") no-repeat;
    background-size: 100% auto;
}
.custom-banner-btn {
    margin: 0 auto;
    width: 2.52rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: #fff;
    border-radius: 0.1rem;
    color: #411D45;
}
.custom-banner-title {
    margin-top: 2.1rem;
    margin-bottom: 0.5rem;
    font-size: 0.48rem;
    color: #fff;
    text-align: center;
}
.custom-banner-desc {
    width: 5rem;
    margin: 0 auto 1.2rem;
    font-size: 0.28rem;
    line-height: 0.42rem;
    color: #fff;
    text-align: center; 
}
.custom-demand {
    padding-bottom: 0.6rem;
}
.custom-demand-desc {
    color: #666666;
    text-align: center;
    margin-bottom: 0.48rem;
}
.custom-demand-img {
    margin: 0 0.3rem;
}
.custom-custom {
    background: #FBFBFB;
    padding-bottom: 0.8rem;
}
.custom-common-title {
    padding-top: 0.8rem;
    margin-top: 0rem;
}
.custom-custom-wrap {
    text-align: center;
}
.custom-custom-icon {
    width: 2.1rem;
    margin: 0 auto 0.4rem;
}
.custom-custom-title {
    margin-bottom: 0.28rem;
    color: #333333;
    font-size: 0.28rem;
}
.custom-custom-content {
    width: 5.75rem;
    color: #666666;
    font-size: 0.24rem;
    margin: 0 auto 0.57rem;
}
.custom-service-wrap {
    overflow: visible;
    margin: 0 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    text-align: center;
}
.custom-service-item {
    flex: 0 0 3.3rem;
    box-shadow: 0rem 0.01rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.3rem;
}
.custom-service-icon {
    width: 0.66rem;
    height: 0.66rem;
    position: relative;
    margin: 0.4rem auto 0.35rem;
}
.custom-service-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-service-title {
    margin-bottom: 0.18rem;
    color: #333333;
    font-size: 0.28rem;
}
.custom-service-content {
    font-size: 0.24rem;
    line-height: 0.36rem;
    color: #666666;
    width: 2.4rem;
    margin: 0 auto 0.39rem;
}
.custom-case {
    padding-bottom: 0.3rem;
    background: #FBFBFB;
}
.custom-case-title {
    padding-top: 0.8rem;
    margin-top: 0rem;
}
.custom-case-item {
    margin: 0 0.3rem 0.5rem;
    padding: 0.45rem 0.3rem 0.45rem;
    box-shadow: -0.06rem 0.04rem 0.14rem 0rem rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}
.custom-case-item-icon {
    float: left;
    width: 2.01rem;
}
.custom-case-item-content {
    float: left;
    width: 4.07rem;
    margin-left: 0.2rem;
    font-size: 0.24rem;
    line-height:0.36rem;
    color: #666666;
}
.custom-case-item-content p {
    font-size: 0.24rem;
    line-height:0.36rem;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.custom-case-item-tip {
    text-align: right;
    width: 4.07rem;
    margin-top: 0.2rem;
    font-size: 0.22rem;
    color: #999999;
}