.document-banner {
	margin-top: 1rem;
	background: url();
	height: 12.64rem;
    margin-top: -0.9rem;
    padding-top: 0.9rem;
    position: relative;
    z-index: 1;
    background: url("../images/home/homeBanner.png") no-repeat;
    background-size: 100% auto;
}
.document-banner-title {
	font-size: 0.48rem;
	color: rgba(255,255,255,1);
}