.join-banner {
    height: 7.98rem;
    margin-top: -0.7rem;
    padding-top: 0.7rem;
    position: relative;
    z-index: 1;
    background: url("../images/join/joinBanner.png") no-repeat;
    background-size: 100% auto;
}
.join-banner-btn {
    margin: 0 auto;
    width: 2.52rem;
    height: 0.8rem;
    background: #fff;
    color: #3C3B3D;
    line-height: 0.8rem;
    text-align: center;
    border-radius: 0.1rem;
}
.join-banner-title {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.48rem;
    color: #fff;
    text-align: center;
}
.join-banner-desc {
    margin: 0 auto 1.5rem;
    font-size: 0.28rem;
    color: #fff;
    text-align: center; 
}
.join-basic-wrap {
    margin: 0 0.3rem 0.7rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: center;
    box-shadow: 0rem 0.02rem 0.14rem 0rem rgba(0, 0, 0, 0.14);
}
.join-basic-icon {
    margin-bottom: 0.3rem;
}
.join-basic-icon img {
    width: 1rem;
}
.join-basic-title {
    margin-bottom: 0.28rem;
    color: #333333;
    font-size: 0.28rem;
}
.join-basic-desc {
    width: 4.88rem;
    margin: 0 auto;
    color: #999999;
    font-size: 0.24rem;
    line-height: 0.36rem;
}
.join-advantage {
    background: #FBFBFB;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.join-advantage-swiper-container {
    margin: 0 0.3rem;
    height: 7.49rem;
    padding-bottom: 1rem;
    background: #FBFBFB;
}
.join-advantage-swiper-pagination {
    position: relative;
    top: 0.5rem;
}
.swiper-slide-title {
    font-size: 0.28rem;
    margin-bottom: 0.3rem;
    text-align: center;
}   
.swiper-slide-content {
    margin: 0 auto;
    width: 5.3rem;
    line-height: 0.36rem;
    font-size: 0.24rem;
    color: #666666;
    text-align: center;
    margin-bottom: 0.4rem;
}
.join-cooperate-icon-wrap {
	margin: 0 0.3rem;
	display: flex;
	justify-content: space-between;
}
.join-cooperate-icon {
    width: 1rem;
    height: 1rem;
    margin-bottom: 0.27rem;
    position: relative;
}
.join-cooperate-icon img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.join-cooperate-title {
    color: #333333;
    font-size: 0.24rem;
    margin-bottom: 0.37rem;
}
.join-cooperate-point {
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 0.08rem;
	background: #999999;
    position: relative;
    left: 50%;
    transform: translate(-0.04rem, 0);
}
.join-cooperate-line {
	border-bottom: 1px dashed #CCCCCC;
	margin: 0 0.3rem;
    position: relative;
    top: -0.04rem;
    margin-bottom: 0.5rem;
}
.join-cooperate-btn {
    width: 2.6rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #00A4FF;
    margin: 0 auto 0.8rem;
    border-radius: 0.1rem;
    text-align: center;
    color: #fff;
}

