.price-fixed {
	width: 100%;
	padding-top: 0.36rem;
	position: fixed;
	top: 0.9rem;
	left: 0rem;
	box-shadow: 0rem 0.02rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
	background: #fff;
	z-index: 20;
	display: none;
}
.price-fixed.active {
	display: block;
}
.price-fixed.is-menu-flod {
    left: -3.8rem;
}
.price-desc-title {
	font-size: 0.48rem;
	width: 5.76rem;
	margin: 0.8rem auto 0.6rem;
	line-height: 0.72rem;
	margin-top: 1.5rem;
}
.price-desc-content {
	margin-bottom: 0.8rem;
	color: #333;
	font-size: 0.28rem;
	text-align: center;
}
.price-desc-btn {
	width: 2.6rem;
	height: 0.8rem;
	line-height: 0.8rem;
	background: #00A4FF;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto 1rem;
	border-radius: 0.1rem;
	font-size: 0.28rem;
}
.price-category-btn-group {
	padding: 0 1.2rem;
	box-sizing: border-box;
}
.price-category-btn {
	width: 1.5rem;
	height: 0.6rem;
	background: #fff;
	float: left;
	margin-right: 0.2rem;
	color: #666666;
	font-size: 0.28rem;
	line-height: 0.6rem;
	text-align: center;
	border-radius: 0.05rem;
	margin-bottom: 0.36rem;
}
.price-category-btn-wrap {
	color: #666666;
	height: 1.2rem;
	line-height: 1.2rem;
}
.price-category-btn-left {
	margin-left: 1rem;
}
.price-category-btn.active .price-category-btn-wrap {
	background: #00A4FF;
	color: #fff;
}
.price-card {
	margin: 0.2rem 0.3rem 0rem;
	box-shadow: 0rem 0.01rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
	border-radius: 0.1rem;
}
.price-card-wrap {
	height: 1.7rem;
	border-top-left-radius: 0.1rem;
	border-top-right-radius: 0.1rem;
	margin-bottom: 0.4rem;
}
.price-card-wrap0 {
    background: linear-gradient(130deg,rgba(170,189,197,1),rgba(193,198,201,1));
}
.price-card-wrap1 {
	background: linear-gradient(130deg,rgba(4,151,255,1),rgba(94,182,245,1));
}
.price-card-wrap2 {
	background: linear-gradient(130deg,rgba(97,77,246,1),rgba(183,181,247,1));
}
.price-card-wrap3 {
	background: linear-gradient(133deg,rgba(255,175,64,1),rgba(255,234,161,1));
}
.price-card-wrap4 {
	background: linear-gradient(130deg,rgba(244,86,81,1),rgba(255,138,136,1));
}
.price-card-title {
	float: left;
	margin-left: 0.3rem;
	line-height: 1.7rem;
	color: #fff;
	font-size: 0.36rem;
}
.price-card-tip {
	float: right;
	margin-top: 0.3rem;
	margin-right: 0.3rem;
}
.price-card-tip p {
	line-height: 0.5rem;
	font-size: 0.24rem;
	color: #fff;
}
.price-card-list-wrap {
	padding-left: 0.6rem;
	padding-bottom: 0.2rem;
}
.price-card-item {
	margin-bottom: 0.28rem;
	list-style: disc;
	font-size: 0.28rem;
	color: #333;
}
.price-title {
	font-size: 0.36rem;
	margin: 0.6rem auto;
	text-align: center;
	padding-bottom: 0.4rem;
}
.price-table-border {
	margin: 0 0.3rem;
	border-top: 1px solid #EAEAEA;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	line-height: 0.89rem;
	height: 8.9rem;
	overflow: hidden;
}
.price-table-border.flod {
	height: auto;
}
.price-table-title {
	float: left;
	width: 100%;
	border-bottom: 1px solid #EAEAEA;
	color: #333333;
	font-weight: bold;
	font-size: 0.28rem;
	padding-left: 0.3rem;
	height: 0.89rem;
}
.price-table-content {
	float: left;
	width: calc(50% - 1px);
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	font-size: 0.28rem;
	color: #333333;
	height: 0.89rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0rem 0.2rem;
    box-sizing: border-box;
}
.price-table-result {
	float: left;
	width: 50%;
	border-bottom: 1px solid #EAEAEA;
	text-align: center;
	font-size: 0.28rem;
	color: #666666;
	height: 0.89rem;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
    padding: 0rem 0.2rem;
    box-sizing: border-box;
    position: relative;
}
.price-table-result img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 0.3rem;
}
.price-table-show-shadow {
    box-shadow: 0 -0.6rem 0.6rem 0.3rem #FCFCFC;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 1;
}
.price-table-show-more {
    text-align: center;
    color: #00A4FF;
    font-size: 0.28rem;
    margin: 0.2rem 0 0;
    background: #fff;
    position: relative;
    z-index: 2;
}
.price-table-show-more.flod {
	margin: 0.4rem 0 0;
}
.price-purchase {
	margin: 0 0.3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 0.8rem;

}
.price-purchase-item {
	flex: 0 0 3.3rem;
	box-shadow: 0rem 0.01rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
	margin-bottom: 0.3rem;
}
.price-purchase-item-icon {
	margin: 0.4rem auto 0.3rem;
	width: 1rem;
	height: 1rem;
	position: relative;
}
.price-purchase-item-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    width: auto;
}
.price-purchse-item-content {
	text-align: center;
	font-size: 0.24rem;
	color: #666;
	margin-bottom: 0.4rem;
}