<footer class="footer">
    <section>
        <div class="footer-content-wrap">
            <div class="footer-content-item-wrap clearfix">
                <div class="footer-content-item"><img src="../static/images/footer/content1.png" alt="" /><a href="tel:13070187708">咨询热线：13070187708</a></div>
                <div class="footer-content-item"><img src="../static/images/footer/content2.png" alt="" /><a href="javascript:;">客服QQ：2110555907</a></div>
            </div>
            <div class="footer-content-title">查看演示</div>
            <div class="footer-content-wechat"><img src="../static/images/footer/wechat.png" alt="" /></div>
            <div class="footer-content-addr">公司地址：北京市朝阳区东亚望京中心B座3221</div>
            <div class="footer-content-copyright">Copyright ©2019 -2020：北京万象云智科技有限公司 版权所有 京ICP备17059203号-2</div>
        </div>
    </section>
    <section class="footer-btn-group clearfix">
        <div class="footer-btn"><img src="../static/images/footer/btn1.png" alt="" /><span class="footer-btn-wrap">免费体验</span></div>
        <div class="footer-btn"><img src="../static/images/footer/btn2.png" alt="" /><span class="footer-btn-wrap"><a href="tel:13070187708">电话咨询</a></span></div>
    </section>
</footer>