<footer class="footer">
    <section>
        <div class="footer-content-wrap">
            <div class="footer-content-item-wrap clearfix">
                <div class="footer-content-item"><img src="../static/images/footer/content1.jpg" alt="" />咨询热线：13070187708</div>
                <div class="footer-content-item"><img src="../static/images/footer/content2.jpg" alt="" />客服QQ：2110555907</div>                
            </div>
            <div class="footer-content-title">查看演示</div>
            <div class="footer-content-wechat"><img src="../static/images/footer/wechat.jpg" alt="" /></div>
            <div class="footer-content-addr">公司地址：北京市朝阳区东亚望京中心B座3221</div>
            <div class="footer-content-copyright">Copyright ©2019 -2020：北京万象云智科技有限公司 版权所有 京ICP备17059203号-2</div>
        </div>
    </section>
    <section class="footer-btn-group clearfix">
        <div class="footer-btn"><img src="../static/images/footer/btn1.jpg" alt="" />免费体验</div>
        <div class="footer-btn"><img src="../static/images/footer/btn2.jpg" alt="" />电话咨询</div>
    </section>
</footer>