<section class="cover"></section>
<section class="menu">
    <ul>
        <li><a href="/page/index">首页</a></li>
        <li class="menu-second-title">解决方案</li>
        <li class="menu-second-grade" style="margin-top: 0.18rem;"><a href="/page/payRead">付费阅读</a></li>
        <li class="menu-second-grade"><a href="/page/freeRead">免费方案</a></li>
        <li class="menu-second-grade"><a href="/page/mixRead">付费+免费阅读</a></li>
        <li class="menu-second-grade"><a href="/page/internationRead">国际化阅读</a></li>
        <li><a href="/page/price">价格</a></li>
        <li><a href="/page/custom">定制</a></li>
        <li><a href="/page/join">加盟</a></li>
        <li><a href="/page/document">文档</a></li>
        <li><a href="/page/about">关于我们</a></li>
    </ul>
</section>