<section class="menu">
    <ul>
        <li><a href="../page/index.html">首页</a></li>
        <li class="menu-second-title">解决方案</li>
        <li class="menu-second-grade"><a href="../page/payRead.html">付费阅读</a></li>
        <li class="menu-second-grade"><a href="../page/freeRead.html">免费方案</a></li>
        <li class="menu-second-grade"><a href="../page/mixRead.html">付费+免费阅读</a></li>
        <li class="menu-second-grade"><a href="../page/internationRead.html">国际化阅读</a></li>
        <li><a href="../page/price.html">价格</a></li>
        <li><a href="../page/custom.html">定制</a></li>
        <li><a href="../page/join.html">加盟</a></li>
        <li><a href="../page/document.html">文档</a></li>
        <li><a href="../page/about.html">关于我们</a></li>
    </ul>
</section>